h2{
    height: 5%;
    color:black;
    text-align:center;
}
body{
    background-color:rgb(160, 157, 157);
    
    }
h3{
    text-align:center;
}
div{
    text-align: center;   
}
input{
    
    background-color: rgb(50, 50, 247);
    width: 250px;
    height: 50px;
    border-radius: 10px;
}
.index_button button a{
    color: #fff;
    text-decoration: none;
}
